[user]
	name = Jim Wisniewski
	email = wisnij@gmail.com
[push]
	default = simple
[alias]
	diffs = diff --staged
	graph = log --graph --pretty=tformat:\"%C(yellow)%h%Creset %C(cyan)%ad%Creset %s\" --date=relative
	trypull = "!git fetch -v; git whatchanged ..origin/common --pretty=format:\"%C(yellow)%h%Creset [%C(cyan)%ar%Creset] %s\" --reverse"
[core]
	pager = cat
[color]
	ui = always
[include]
	path = ~/.config/gitconfig-local
[status]
	showUntrackedFiles = no
