!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Emacs

Emacs.font:		7x13
Emacs.reverseVideo:	true

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Rofi

rofi.color-enabled:	true
rofi.color-window:	#000000, #00ff00, #00cc00
rofi.color-normal:	#000000, #00ff00, #000000, #006600, #00ff00
rofi.color-active:	#000000, #ffff00, #000000, #006600, #ffff00
rofi.color-urgent:	#000000, #ff6600, #000000, #006600, #ff6600
rofi.fake-transparency:	true
rofi.levenshtein-sort:	true
rofi.separator-style:	solid

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! (U)Rxvt

! basics
Rxvt.termName:		rxvt-256color
Rxvt.font:		7x13
Rxvt.geometry:		160x60+50+50
Rxvt.scrollstyle:	plain
Rxvt.scrollBar_right:	true

! colors
Rxvt.background:	black
Rxvt.foreground:	grey
Rxvt.color4:		#3333ff
Rxvt.color12:		#6666ff
Rxvt.colorBD:		white
Rxvt.colorUL:		dark cyan

! misc
Rxvt.fading:		25

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! XTerm

! basics
XTerm*font:		7x13
XTerm*background:	black
XTerm*foreground:	grey
XTerm*geometry:	160x60+50+50

! bold by color
XTerm*boldMode:	false
XTerm*boldFont:	7x13
XTerm*colorBDMode:	true
XTerm*colorBD:		white

! Cygwin-style
XTerm*colorULMode:	true
XTerm*colorUL:		dark cyan

! misc
XTerm*metaSendsEscape:	true
XTerm*rightScrollBar:	true
XTerm*saveLines:	10000
XTerm*scrollBar:	true
XTerm*toolBar:		false

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! local settings

#include ".Xresources-local"
